---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatted } from "../../utils/formatted";

const rawProject = await getCollection("projects");

const projects = formatted(rawProject);
---

<Layout>
  <h1>Project</h1>
  <div class="mt-20px font-sans text-lg">
    <p>Hi, i am RuiMe.</p>
    <p>
      This section shows some of the tools I made myself to solve problems I
      encountered in my life and work.
    </p>
    <p>
      I put it here so that I can use it at any time, and I also hope it can
      help everyone.
    </p>
  </div>

  <div class="mt-20px">
    <a
      class="flex items-center text-lg border-b border-gray-300 hover:border-dark-300 transition-200 ~cp w-fit"
      href="/"
    >
      <i class="i-ri-calendar-schedule-line"></i>
      <div class="font-mono ml-5px">效期计算器</div>
    </a>
  </div>
</Layout>
