---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-3xl flex mb-30px border-b pb-2px box-border">
    <p class="font-sans">Project</p>
    <p class="mx-2">/</p>
    <p class="font-cn">灵感项目</p>
  </h1>
</Layout>
