---
import NotFoundImage from "../components/404Image.astro";
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>404</title>
    <style>
      :root {
        --pink: #fecdd3;
        --white: #fdfdfd;
      }

      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
      }

      *::selection {
        color: var(--white);
        background-color: var(--pink);
      }

      *::-moz-selection {
        color: var(--white);
        background-color: var(--pink);
      }

      *::-webkit-selection {
        color: var(--white);
        background-color: var(--pink);
      }
    </style>
  </head>
  <body>
    <div class="h-full ~f-c-c flex-col">
      <div class="text-4xl font-wide ~f-c-c">404</div>
      <div class="mr-5px">This page is not found</div>
      <div class="text-xl box-border pb-2px border-b border-gray-400">
        <i class="i-ri-arrow-right-circle-line"></i>
        <a href="/">You can click here to right page</a>
      </div>
      <NotFoundImage />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
</style>
