---
import NotFoundImage from "../components/404Image.astro";
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>404</title>
  </head>
  <body>
    <div class="h-full flex justify-center items-center">
      <div
        class="w-50px h-50px flex justify-center items-center box-border rounded-1/2 bg-[rgba(0,0,0,0.1)]"
      >
        <i class="i-ri-signal-wifi-error-line"></i>
      </div>

      <div class="text-3xl font-cn">当前页面不存在</div>
    </div>
  </body>
</html>

<style>
  @import url("../styles/fonts.css");

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .text::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 80%;
    background: linear-gradient(to right, rgb(248, 113, 113, 0.7), transparent);
    left: 0;
    bottom: 0;
  }
</style>
