---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import FriendlyLink from "../components/FriendlyLink.astro";
import RedPricot from "../components/RedPricot.astro";
import BounceBall from "../components/BounceBall.astro";
---

<Layout>
  <Hero />
  <!-- <RedPricot /> -->
  <div class="mt-50px font-mono text-lg">
    <div class="mt-10px">
      <a href="/summary" class="text-xl underline ~cp">Summary:</a>
      <span class="font-sans">Tell me about my recent experiences</span>
    </div>
    <div class="mt-10px">
      <a href="/project" class="text-xl underline ~cp">Projects:</a>
      <span class="font-sans">List the projects I have developed</span>
    </div>
  </div>
  <div class="mt-50px h-80px">
    <BounceBall />
  </div>
  <div class="mt-50px">
    <FriendlyLink />
  </div>
</Layout>
