<div class="wrapper relative h-300px">
  <canvas
    id="image"
    height="300"
    class="absolute top-0 opacity-0 transition-1000"></canvas>
  <canvas
    id="nums"
    height="300"
    class="absolute left-0 opacity-100 transition-1000"></canvas>
</div>

<style>
  @media screen and (max-width: 800px) {
    canvas,
    .wrapper {
      width: 100%;
    }
  }
  @media screen and (min-width: 800px) {
    canvas,
    .wrapper {
      width: 350px;
    }
  }
</style>

<script>
  let image = new Image();
  image.src = "404_image.jpg";

  const imageCanvas = document.querySelector("#image") as HTMLCanvasElement;
  const ctx = imageCanvas.getContext("2d")!;

  const numCanvas = document.querySelector("#nums") as HTMLCanvasElement;
  const ctx2 = numCanvas.getContext("2d")!;

  numCanvas.addEventListener("mouseenter", () => {
    imageCanvas.style.opacity = "1";
    numCanvas.style.opacity = "0";
  });

  numCanvas.addEventListener("mouseleave", () => {
    imageCanvas.style.opacity = "0";
    numCanvas.style.opacity = "1";
  });

  image.onerror = (e) => console.log("image find error: ", e);

  image.onload = () => {
    const size = {
      w: imageCanvas.width,
      h: imageCanvas.height,
    };
    const pattern = ctx.createPattern(image, "no-repeat");
    ctx.fillStyle = pattern!;
    ctx.drawImage(image, 0, 0, size.w, size.h);

    const imageData = ctx.getImageData(0, 0, size.w, size.h);
    const pixels = imageData.data;

    const base = 15;
    let isSkip = base;
    for (let y = 0; y < size.h; y++) {
      for (let x = 0; x < size.w; x++) {
        const r = pixels[0 + (size.w * y + x) * 4];
        const g = pixels[1 + (size.w * y + x) * 4];
        const b = pixels[2 + (size.w * y + x) * 4];
        const a = pixels[3 + (size.w * y + x) * 4];

        if (r + g + b + a < 450) {
          ctx2.beginPath();
          if (isSkip === 0) {
            ctx2.fillText("+", x, y);
            ctx2.fillStyle = "#fecdd3";
            ctx2.font = "18px Microsoft YaHei";
            ctx2.stroke();
            isSkip = base;
          } else {
            isSkip--;
          }
        }
      }
    }
  };
</script>
