<div class="text-lg font-lato">
  <p>No content available...</p>
  <p class="flex items-end">
    <span>If you want to read some technical articles, you can go to the</span>
    <a
      href="/blog"
      class="font-mono border-b border-gray-300 border-b-1px inline-block ml-2"
      >Blogs.</a
    >
  </p>
  <p>
    <span
      >For other insights about my daily life, you can check through the</span
    >
    <a
      href="/talk"
      class="font-mono border-b border-gray-300 border-b-1px inline-block ml-2"
      >Talks.</a
    >
  </p>
  <p>
    <span
      >As for the novel projects I usually write, I can access them through the</span
    >
    <a
      href="/project"
      class="font-mono border-b border-gray-300 border-b-1px inline-block ml-2"
      >Projects.</a
    >
  </p>
</div>
