<>
  <p class="text-xl mb-5px">Find me on:</p>
  <div class="flex gap-x-20px">
    <a
      class="flex items-center text-lg border-b border-gray-300 hover:border-dark-300 transition-200 ~cp"
      href="https://github.com/taoyanya"
      target="_blank"
    >
      <i class="i-ri-github-fill"></i>
      <div class="font-mono ml-5px">Github</div>
    </a>
    <a
      class="flex items-center text-lg border-b border-gray-300 hover:border-dark-300 transition-200 ~cp"
      href="https://space.bilibili.com/334948417?spm_id_from=333.1007.0.0"
      target="_blank"
    >
      <i class="i-ri-bilibili-fill"></i>
      <div class="font-mono ml-5px">Bilibili</div>
    </a>
  </div>
</>
