---
import { ViewTransitions } from "astro:transitions";
import ThemeCheck from "./ThemeCheck.vue";
---

<header
  class="relative z-99 h-60px flex justify-end items-center px-20px box-border"
  transition-style
>
  <ViewTransitions />
  <div class="flex justify-between items-center">
    <div class="header-nav-item ~cp">
      <a href="/summary">
        <i class="i-iconoir-chat-bubble-empty"></i>
      </a>
    </div>
    <div class="header-nav-item ~cp">
      <a href="/project">
        <i class="i-iconoir-tools"></i>
      </a>
    </div>
    <div class="header-icon flex">
      <div class="header-nav-item ~cp">
        <a href="https://github.com/taoyanya" target="_blank">
          <i class="i-iconoir-github"></i>
        </a>
      </div>
      <div class="header-nav-item ~cp">
        <a
          href="https://account.bilibili.com/account/home?spm_id_from=333.1007.0.0"
          target="_blank"
        >
          <i class="i-ri-bilibili-line"></i>
        </a>
      </div>
      <ThemeCheck client:only="vue" />
    </div>
  </div>
</header>

<style scoped></style>
