---
import StrongText from "./StrongText.astro";
---

<div>
  <div class="font-sans mb-20px text-lg">
    <h1 class="font-wide font-bold text-3xl py-10px box-border">
      <StrongText>RuiMe</StrongText>
    </h1>
    <p>Hey, i am RuiMe. a amateur front developer.</p>
    <p>Now, i work as a discount store clerk.</p>
    <p class="mt-10px">
      I like to develop, and staying in tune with the latest web technologies is
      my hobby.
    </p>
    <p>
      Today, even though my current job is not in the computer field, I still
      find time to learn new knowledge and do some interesting things.
    </p>
  </div>
</div>
