---
interface Props {
  date: string;
  title: string;
}

const { title, date } = Astro.props;
---

<div class="flex font-sans items-baseline flex-wrap gap-x-10px mb-12px ~cp">
  <div class="text-gray-600 text-xl">{title}</div>
  <div class="text-gray-300 hover:text-gray-500 transition-200">
    {date}
  </div>
</div>
