---
interface Props {
  name: string;
  link: string;
  desc: string;
}

const { name, desc, link } = Astro.props;
---

<a
  href={link}
  class="flex flex-col border border-gray-200 hover:border-gray-500 transition-200 rounded-lg w-220px h-160px overflow-hidden ~cp"
>
  <div
    class="flex-[3] bg-cover bg-center"
    style={{ backgroundImage: `url(/temporary.jpg)` }}
  >
  </div>
  <div class="flex-1 p-5px flex items-center gap-x-5px">
    <span class="text-lg">{name}</span>
    <span>-</span>
    <span class="text-gray-300">{desc}</span>
  </div>
</a>
