---

---

<div class="w-fit relative">
  <span class="font-wide font-bold text-2xl">
    <slot />
  </span>
  <div class="under-line"></div>
</div>

<style scoped>
  .under-line {
    position: absolute;
    width: 100%;
    height: 1px;
    border: 2px dashed #000;
    left: 0;
    bottom: -2px;
  }
</style>
