---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="relative tag-title text-pink-200">
  <div class="ml-15px">{title}</div>
</div>

<style scoped>
  .tag-title::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fbcfe8;
    top: 50%;
    transform: translateY(-50%);
  }
</style>
