---
import Layout from "./Layout.astro";
---

<Layout>
  <div class="">
    <slot />
  </div>
</Layout>

<style is:global>
  html,
  body {
    height: 100%;
  }

  h2 {
    font-size: 1.3rem;
    padding: 5px 0;
  }
</style>
